<div class='login__notice'>
    You must have a Stansberry Research subscription to log in. If you need assistance, contact customer service
    at <a class='login__notice-link' href='mailto:info@stansberrycustomerservice.com'>info@stansberrycustomerservice.com</a>
    or call <a class='login__notice-link' href='tel:+18882612693'>1 (888) 261-2693</a>
</div>
